.dark-mode-btn {
  position: fixed;
  bottom: 64px;
  right: 32px;
  z-index: 999;
  background: #292929;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
}

/* .dark-mode-btn #sunIcon {
  display: none;
}

.dark-mode-btn #moonIcon {
  display: block;
} */

.dark-mode {
  background: #292929;
  color: #fff;
}

.dark-mode-blue {
  background: #074f66;
  color: #fff;
}

.dark-mode-btn .dark-mode-icon {
  transition: 0.3s all ease-in-out;
  width: 3rem;
  height: 3rem;
  filter: invert(1);
}

.dark-mode .navbar-fixed-top {
  transition: 0.3s all ease-in-out;
  background: #074f66;
}

.dark-mode .navbar-fixed-top .container nav .navbar-collapse ul li a svg {
  transition: 0.3s all ease-in-out;
  color: #11c3fc !important;
}

section#neler-yapariz.dark-mode-blue .text-center .title,
section#neler-yapariz.dark-mode-blue .text-center ul li {
  color: #fff;
}

section#promo.dark-mode-blue .title,
section#twitter.dark-mode-blue .title {
  color: #17baef;
}

section#promo.dark-mode-blue .meta a {
  color: #ffffff99;
}

section#promo.dark-mode-blue .meta a:hover {
  color: #fff;
}

section.dark-mode .title,
section.dark-mode .sub-title {
  transition: 0.3s all ease-in-out;
  color: #11c3fc !important;
}

section.dark-mode .docs-inner {
  transition: 0.3s all ease-in-out;
  background-color: #292929;
}
